html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background: #f8f9fa;
  padding-top: 60px;
}

@media (min-width: 992px) {
  body {
    padding-top: 0;
  }
}

.welcome-text {
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.form-group {
    margin-bottom: 1rem;
    text-align: left;
}

.form-control {
    width: 100%;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.btn-primary {
    width: 100%;
    padding: 0.6rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.text-ellipsis {
  display: inline-block;
  max-width: 180px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: bottom;
}

@media (max-width: 576px) {
  .container-fluid.py-4 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  #products-grid {
    overflow-x: auto;
  }
}
