@{
    ViewData["Title"] = "Inloggen";
}

<div class="welcome-text">
    <h1>Welkom bij de Matrix Inc. Admin panel</h1>
</div>

<div class="login-container">
    <div class="login-box">
        <h2>Succesvol ingelogd</h2>
        <br />
        <br />
        <h2>Home pagina dashboard</h2>

    </div>
</div>
